.addBtn {
  background-color: white;
  width: 17%;
  color: blue;
}
.addBtn:hover {
  background-color: #0f3659;
  color: white;
}


.footer-link {
  cursor: pointer;
  transition: 0.2s;
}

.footer-link:hover {
  color: white;
  padding-left: 5px;
}
